// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
}

.grid input,
img {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  max-width: 75%;
}

img {
  width: 300px;
  height: auto;
}
#logo {
  max-height: 75px;
}

.container {
  text-align: center;
}

nav {
  padding: 0.25rem;
}
